<p-card header="About Myself" [style]="{width: '80%', height:'80%' , 'margin-left':'125px'}">
    <p-header>
        <img src="Card" src="assets/about_image.jpg" width="300px" height="300px">
    </p-header>
    <div> I am quick leaner, I am always curious to know learn about any new technologies related to my field of excellence. 
        I am very easy going and a very good team player. I can go above and beyond to accomplish any task that is assigned to me.
        I am very good communication skills and can get the job easily done with any dependancies with other teams.
        In my free time I learn and educate myself on various new technologies. I am very good at playing any sort of sports.   
    </div>
</p-card>
