<h1>Details about my recent projects that I worked On</h1>
<p-accordion>
    <p-accordionTab header="CVS Health" [selected]="true" styleClass="content">
        <h4 >The Global Shipping Program is E-commerce web-based application and it is part of eBay, which simplifies selling an item
        to an international buyer. All eligible listings for sellers who qualify are automatically included in global shipping program.
        This Program helps seller to ship their items globally in easy way. Overall a completely flexible and scalable application
        which can incorporate any modifications in any phase.</h4>
    </p-accordionTab>
    <p-accordionTab header="CareFirst BCBC" styleClass="content">
        <h4>Member Portal is an online application developed by CareFirst to provide online services to their members such as claims
        search, plan year summary and itemized details, Deductible status, Changes PCP, Coordination of benefits, Eligibility
        details, Explanations of Benefits, Request ID card and Print ID card. Also worked in different modules like Employer and
        Broker Portals. </h4>
    </p-accordionTab>
    <p-accordionTab header="Ebay Inc">
        <h4> The Global Shipping Program is E-commerce web-based application and it is part of eBay, which simplifies selling an item
        to an international buyer. All eligible listings for sellers who qualify are automatically included in global shipping program.
        This Program helps seller to ship their items globally in easy way. Overall a completely flexible and scalable application
        which can incorporate any modifications in any phase.</h4>
    </p-accordionTab>
    <p-accordionTab header="Apple Inc">
        <h4>Access Manager is web-based application contains two different functionalities. The primary functionality is basic UI and
        provisioning part, secondarily – directory services provisioning is a one-stop solution for all provisioning activities at
        apple. Apple’s business requires providing access to its users and vendors to various enterprise level applications with
        certain level of privileges for the user. DS Provisioning uses the access manager application for provisioning various
        internal systems in Apple.</h4>
    </p-accordionTab>
    <p-accordionTab header="TechnoLabs Software Solution">
        <h4> Access Manager is web-based application contains two different functionalities. The primary functionality is basic UI and
        provisioning part, secondarily – directory services provisioning is a one-stop solution for all provisioning activities at
        apple. Apple’s business requires providing access to its users and vendors to various enterprise level applications with
        certain level of privileges for the user. DS Provisioning uses the access manager application for provisioning various
        internal systems in Apple.</h4>
    </p-accordionTab>
</p-accordion>