<div class="container" style="background-image: url('./assets/thankyou.png');">
    <div class="row">
        <h1>Reach out!</h1>
        <h4>Thanks for dropping by, hope you found what you were looking for. If not just ask!</h4>
        <div class="col-md-6" >
            <div class="col-md-4 displayData">
                <span>
                    <label>Name: </label>
                </span>
                <span>
                    <input id="input" type="text" size="30" pInputText placeholder="ABC">
                </span>
            </div>
            <div class="col-md-4 displayData">
                <span>
                    <label>Email: </label>
                </span>
                <span>
                    <input id="input" type="text" size="30" pInputText placeholder="XXX@gmail.com">
                </span>
            </div>
            <div class="col-md-4 displayData">
                <span>
                    <label>Phone Number: </label>
                </span>
                <span>
                    <input id="input" type="text" size="30" pInputText placeholder="123-456-789">
                </span>
            </div>
            <label>Message: </label>
            <div class="col-md-4">
                <span>
                    <textarea pInputTextarea [rows]="10" [cols]="50"
                        placeholder="Thanks for reaching out to me!!!!!!"></textarea>
                </span>
            </div>
            <div class="col-md-4">
                <button pButton type="button" label="Submit" class="ui-button-rounded moveButton"></button>
            </div>
            <div class="col-md-4">
                <p>Email : dheerajreddy.kandiga07@gmail.com</p>
                <p>Phone : 612-354-6256</p>
            </div>
        </div>
    </div>
</div>



