
<div class="toolbar" role="banner">
  <span class="welcome">Welcome to DheerajReddy Kandiga Portfolio</span>
  <span>
    <a  routerLink="/home" [routerLinkActive]="'is-active'">Home |</a>
    <a  routerLink="/about" [routerLinkActive]="'is-active'"> About |</a>
    <a  routerLink="/resume" [routerLinkActive]="'is-active'"> Resume |</a>
    <a  routerLink="/project" [routerLinkActive]="'is-active'"> Project |</a>
    <a  routerLink="/contactDetails" [routerLinkActive]="'is-active'"> Contact Details</a>
  </span>
</div>


<div class="content">


  <!-- Footer -->
  <footer>
  <a href="https://github.com/dheerajkandiga" target="_blank"> Github repo.</a>
    <p style="float: 'left'">© 2020 Profile of DheerajReddy</p>
  </footer>

</div>

<router-outlet></router-outlet>
