<div class="container">
    <div class="row">
        <h3>Education</h3>
    </div>
    <div class="row">
        <h5>Masters of Science in Computer Science with GPA - 3.76. (NewYork Institute of Technology).</h5>
    </div>
    <div class="row">
        <h3>Technical Skills.</h3>
    </div>
    <div>
        <ul>
            <li>Web Technologies : HTML5, React JS, Redux, TypeScript, JavaScript, CSS3, Bootstrap</li>
            <li>Frameworks: Angular 1/2/4/5/6</li>
            <li>FrontEnd Libraries: PrimeNg, AngularMatirial, Lodash</li>
            <li>IDE Tools: My Eclipse, Intellij, WebStorm, Visual Studio</li>
            <li>Version Control Tool: SVN, GIT</li>
        </ul>
    </div>
    <div class="row">
        <h3>Below are the responsabilities I perform on day to day basis.</h3>
    </div>
    <div>
        <ul>
            <li>1. Involved in all the phases of SDLC including Requirements Gathering, Design & Analysis of the Customer
            Specifications, Development and Customization of the Application.</li>
            <li>2. Analyze system and functional requirements to determine feasibility and scalability of application.</li>
            <li>3. Developer SPA using Angular 4/5 with the help of angular components, modules, observables, Depedency Injection,
                 and routers.</li>
            <li>4. Migrating the application using React and Redux. Have good knowledge and understanding of React & Redux
            frameworks..</li>
            <li>5. Developed user interfaces using JavaScript, Typescript  HTML5, and CSS3</li>
            <li>6. Involved in all the phases of SDLC including Requirements Gathering, Design & Analysis of the Customer
                Specifications, Development and Customization of the Application.</li>
            <li>7. Written Test Cases using Jasmine & karma for Angular JS..</li>
            <li>8. Utilized GitLab to perform code reviews on pull requests and Usage of Jenkins for CI/CD pipeline.</li>
        </ul>
    </div>
    <div class="resumeData">
        <h3>For more Information please download my resume</h3>
        <a href="\assets\DheerajKandiga_Resume.pdf" download> Dowload Resume
            <img src="\assets\download_icon.png" alt="download_image" width="60" height="30">
        </a>
    </div>  
</div>