<div class="container" style="background-image: url('./assets/main_page.jpg');">
    <div class="moveContent">
        <h1>DheerajReddy Kandiga</h1>
    </div>
    <div class="information">
        <p class="data">I have been working in software industry for around 6 years now, my main focus is on 
            developing web applications using various javascript frameworks such as Angular, React and Redux. 
            I have used hands on javascript, html and css in developing web applications. My strengths lies in front end design and development 
            of web applications and I also worked on Java, spring at the earlier stages of my career. 
        </p>
        <p style="padding-top: 20px;" class="data">To know more on the applications that I have build, you can find my <a routerLink="/resume"> Resume</a>, <a routerLink="/projects"> Projects </a> I've worked on, insight into my career
            and where I'm headed! Feel free to <a routerLink="/contactDetails"> React out </a> if you have any comments or suggestions!
        </p>
        <p style="padding-top: 20px;" class="data">To know more about my projects I worked on spare time. Here is the 
            <a href="https://github.com/dheerajkandiga" target="_blank"> github repoLink.</a>
        </p>
    </div>
</div>
